<!DOCTYPE html>
@inject IOptions<AppSettings> AppSettings
@{
    var pageTitle = ViewData["PageTitle"] as string;
    var siteTitle = pageTitle == null
        ? AppSettings.Value.SiteTitle
        : $"{pageTitle} • {AppSettings.Value.SiteTitle}";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@siteTitle</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/semantic-ui/semantic.min.js"></script>
        <script src="~/lib/hammer/hammer.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.js"
                asp-fallback-src="~/lib/semantic-ui/semantic.min.js"
                asp-fallback-test="window.jQuery.site">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="~/lib/hammer/hammer.min.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
                asp-fallback-src="~/lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>