@{
    ViewData["PageTitle"] = "About";
}
<h2>HowItWas</h2>
HowItWas is a simple anonymous feedback tracker.
There is <strong>no way</strong> to recognize who <em>exactly</em> leave the individual feedback.

<h2>What we store for every Feedback Request aka Survey:</h2>
<ul>
    <li>Total list of participators (might to leave a feedback)</li>
    <li>List of those who leave a feedback already</li>
    <li>List of non personalized feedbacks</li>
</ul>

<h2>What we <strong>don't</strong> store:</h2>
<ul>
    <li>Link between user and feedback</li>
</ul>

<h2>Effects:</h2>
<ul>
    <li>You couldn't know who left the invidual feedback.</li>
    <li>Every participator can leave the feedback only once (beware of flooding).</li>
    <li>There is no opportunity to rewrite or remove your personal feedback. Just because it will not be a personal.</li>
    <li>If your feedback was deleted by administrator you won't get back the right to post it again.</li>
</ul>